[Desktop Entry]
Name=Install SDWEAK
Exec=bash -c 'wget -O /tmp/desktop-install.sh https://raw.githubusercontent.com/Taskerer/SDWEAK/main/desktop-install.sh && bash /tmp/desktop-install.sh'
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
