[Desktop Entry]
Name=Install SDWEAK
Exec=curl https://raw.githubusercontent.com/Taskerer/SDWEAK/main/desktop-install.sh | bash -s --
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
