[Unit]
Description=SDWEAK
After=sysinit.target
ConditionPathExists=/home/deck/.local/tweak/SDWEAK.sh

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/deck/.local/tweak/SDWEAK.sh

StandardOutput=journal
StandardError=journal
SyslogIdentifier=SDWEAK

TimeoutSec=60

[Install]
WantedBy=multi-user.target
